.footer{
    display: flex;
    justify-content: space-evenly;
}
.footer ul{
    font-weight: bold;
    cursor: pointer;
}
.footer ul li{
    margin-top: 1rem;
    font-weight: normal;
    list-style: none;
    cursor: pointer;
}
.footer ul li:hover{
    color: rgb(195, 199, 202);;
}