
.happy h1{
    font-size: 41px;
}
.happy p{
    font-size: 18px;
    margin-bottom: 4rem;
}
.outdoor{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.outdoor h2{
    font-size: 24px;
    margin-top: 0.1rem;
    text-align: left;
}
.outdoor p{
    font-size: 16px;
    text-align: left;
}