.container{
    margin-top: 0.5rem;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.container h1{
    margin-top: 4rem;
    margin-left: 3rem;
    font-size: 40px;
}
.container p{
    margin-left: 3rem;
    color: #565656;
    font-size: 16px;
    text-align: left;
}
.container img{
    margin-top: 0.5rem;
    display: flex;
}
